body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

:host {
    display: block;
    height: 100vh;
    background-image: url('/images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}