<section class="heading">
  <span style="font-weight: bold; font-style: italic">{{title}}</span>
  <span style="
      float: right;
      padding-right: 30px;
      font-style: italic;
      font-weight: bold;
      color: white
    ">{{ welcomeMsg }}</span>
</section>
<div class="p-4" *ngIf="request">
  <table class="table table-sm">
    <tr>
      <td>Request Number:</td>
      <td>
        <input [(ngModel)]="request.requestNumber" class="rounded" type="text" disabled />
      </td>
    </tr>
    <tr>
      <td>Description:</td>
      <td>
        <input [(ngModel)]="request.description" class="rounded" type="text" />
      </td>
    </tr>
    <tr>
      <td>Justification:</td>
      <input [(ngModel)]="request.justification" class="rounded" type="text" />
    </tr>
    <tr>
      <td>Date Needed:</td>
      <td>
        <input [(ngModel)]="request.dateNeeded" class="rounded" type="date" />
      </td>
    </tr>
    <tr>
      <td>Delivery Mode:</td>
      <td>
        <select [(ngModel)]="request.deliveryMode" class="rounded" [compareWith]="compUser">
          <option *ngFor="let dm of deliveryModes" [ngValue]="dm">{{dm}} </option>
        </select>
      </td>
    </tr>
    <tr>

  </table>
  <span>
    <button (click)="save()" class="btn btn-am btn-primary">
      Save
    </button>
  </span>
</div>