<section class="heading">
  <span style="font-weight: bold; font-style: italic">{{ title }}</span>
  <span style="
      float: right;
      padding-right: 30px;
      font-style: italic;
      font-weight: bold;
      color:white;
    ">{{ welcomeMsg }}</span>
</section>
<div class="p-4">
  <table class="table table-sm">
    <tbody>
      <tr>
        <td>Vendor:</td>
        <td>
          <select [(ngModel)]="newProduct.vendor" class="rounded">
            <option *ngFor="let v of vendors" [ngValue]="v">
              {{ v.name }}
            </option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Part Number:</td>
        <td>
          <input [(ngModel)]="newProduct.partNumber" class="rounded" type="text" />
        </td>
      </tr>
      <tr>
        <td>Name:</td>
        <td>
          <input [(ngModel)]="newProduct.name" class="rounded" type="text" />
        </td>
      </tr>
      <tr>
        <td>Price:</td>
        <td>
          <input [(ngModel)]="newProduct.price" class="rounded" type="number" />
        </td>
      </tr>
      <tr>
        <td>Unit:</td>
        <td>
          <input [(ngModel)]="newProduct.unit" class="rounded" type="text" />
        </td>
      </tr>
      <tr>
        <td>Photopath</td>
        <td>
          <input [(ngModel)]="newProduct.photopath" class="rounded" type="text" />
        </td>
      </tr>
    </tbody>
  </table>
  <button (click)="addProduct()"
    style="background-color: blue; color: white; padding: 5px 10px; border-radius: 5px; border: none;">Create</button>
</div>